{% extends 'base.html.twig' %}

{% block page_title -%}Création d'une entité FreqOp{% endblock %}
{% block content -%}

    {{ form_start(form) }}
		{{ form_errors(form) }}
		
		{{ form_widget(form) }}
		
		<input type="submit" value="Créer l'entité" />
	{{ form_end(form) }}
	
	
        <ul class="record_actions">
    <li>
        <a href="{{ path('operations-frequentes_') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
