<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% block page_title %}{% endblock %} - {% block site_title %}Improvisions{% endblock %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
			<header>
			{% block header %}
				<h1><a href="{{ path('homepage') }}">{{ block('site_title') }}</a></h1>
				<nav>
					<h2>Gestion des comptes</h2>
					<ul>
						<li><a href="{{ path('comptes') }}">Liste des comptes</a></li>
						<li><a href="{{ path('comptes_new') }}">Nouveau compte</a></li>
					</ul>
					<h2>Gestion des opérations</h2>
					<ul>
						<li><a href="{{ path('operations') }}">Liste des opérations</a></li>
						<li><a href="{{ path('operations_new') }}">Nouvelle opération</a></li>
					</ul>
					<h2>Opérations-type les plus fréquentes</h2>
					{{ render(controller('AppBundle:FreqOp:recentFreqOps', { 'max': 3 })) }}
				</nav>
			{% endblock %}
			</header>
			<div>
			{% block main %}
				<h2>{{ block('page_title') }}</h2>
				<div>
				{% block flashmsgs %}
				{% for flashMessage in app.session.flashbag.get('notice') %}
				<p class="flash-notice">{{ flashMessage }}</p>
				{% endfor %}
				{% endblock %}
				</div>
				{% block content %}{% endblock %}
			{% endblock %}
			</div>
		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
