<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% block page_title %}{% endblock %} - {% block site_title %}Improvisions{% endblock %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
			<h1><a href="{{ path('homepage') }}">{{ block('site_title') }}</a></h1>
			<nav id="menu">
				<ul>
					<li><a href="{{ path('parametrage') }}">{{ 'parametrage.title'|trans }}</a></li>
				</ul>
			</nav>
		</header>
		
		<nav id="nav">
			{% block nav %}{% endblock %}
		</nav>
		
		<div>
			<h2>{{ block('page_title') }}</h2>
		
			<div>
			{% block flash_messages %}
				{% for flash in app.session.flashbag.get('notice') %}
				<p>{{ flash|trans }}</p>
				{% endfor %}
			{% endblock %}
			</div>
			
			{% block content %}{% endblock %}
		</div>
		
        {% block javascripts %}
			<script src="{{ asset('javascript/jquery-2.1.4.min.js') }}"></script>
			<script src="{{ asset('javascript/form_collection.plugin.js') }}"></script>
		{% endblock %}
    </body>
</html>
