<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% block page_title '' %} - {% block site_title %}{{ 'site.title'|trans }}{% endblock %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
			<header>
				<h1><a id="home" href="{{ path('homepage') }}">{{ block('site_title') }}</a></h1>
				<nav id="menu">
					<ul>
						<li><a href="{{ path('homepage') }}">{{ 'menu.homepage'|trans}}</a></li>
						<li><a href="{{ path('annees') }}">{{ 'menu.annees'|trans}}</a></li>
					</ul>
				</nav>
			</header>
			<nav id="nav">
				<ul>
					{% block nav '' %}
				</ul>
			</nav>
			<section id="main">
				<h1>{{ block('page_title') }}</h1>
				{% block content '' %}
			</section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
