<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% block page_title %}{% endblock %} - {% block site_title %}Improvisions{% endblock %}{% endblock %}</title>
        {% block stylesheets %}
			{% stylesheets 'css/*' filter='cssrewrite' output='css/styles.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
			<header>
			{% block header %}
				<h1><a href="{{ path('homepage') }}">{{ block('site_title') }}</a></h1>
			{% endblock %}
			</header>

			<div id="main">
		
				<nav id="menu">
					<h2>Gestion des comptes</h2>
					<ul>
						<li><a href="{{ path('comptes') }}">Liste des comptes</a></li>
						<li><a href="{{ path('comptes_new') }}">Nouveau compte</a></li>
					</ul>
					<h2>Gestion des opérations</h2>
					<ul>
						<li><a href="{{ path('operations') }}">Liste des opérations</a></li>
						<li><a href="{{ path('operations_new') }}">Nouvelle opération</a></li>
					</ul>
					<h2>Opérations-types</h2>
					{{ render(controller('AppBundle:FreqOp:recentFreqOps', { 'max': 3 })) }}
					<ul>
						<li><a href="{{ path('operations_frequentes') }}">Toutes des opérations-types</a></li>
						<li><a href="{{ path('operations_frequentes_new') }}">Nouvelle opération-type</a></li>
					</ul>
				</nav>
			
				<div id="content">
			{% block main %}
				<h2>{{ block('page_title') }}</h2>
				
				{% block flashmsgs %}
				{% for flashMessage in app.session.flashbag.get('notice') %}
				<p class="flash-notice">{{ flashMessage }}</p>
				{% endfor %}
				{% endblock %}
				
				{% block content %}{% endblock %}
			{% endblock %}
				</div>
			</div>
		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
