<h2>{{ 'operation.menu.title'|trans }}</h2>
<ul>
	<li><a href="{{ path('operations') }}">{{ 'operation.page.index.title'|trans }}</a></li>
	<li><a href="{{ path('operations_new') }}">{{ 'operation.page.creation.title'|trans }}</a></li>
</ul>