{% extends 'parametrage.html.twig' %}

{% block page_title %}{{ 'compte.page.compte_edit.title'|trans({'%code%': compte.code}) }}{% endblock %}

{% block content %}
    
	<div>
		<h3>{{ 'compte.page.compte_edit.edit_section_title'|trans({'%code%': compte.code}) }}</h3>
		{{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}
		{{ form_row(edit_form.libelle, {'label': 'compte.label.libelle'}) }}
		{{ form_row(edit_form.mouvementable, {'label': 'compte.label.mouvementable'}) }}
		<input type="submit" value="{{ 'compte.form.submit.compte_edit'|trans }}"/>
		{{ form_end(edit_form) }}
	</div>
	
	<div>
		<h3>{{ 'compte.page.compte_edit.delete_section_title'|trans({'%code%': compte.code}) }}</h3>
		{{ form_start(delete_form) }}
		{{ form_errors(delete_form) }}
		<input type="submit" value="{{ 'compte.form.submit.compte_delete'|trans }}"/>
		{{ form_end(delete_form) }}
	</div>
	
{% endblock %}
