{% extends 'parametrage.html.twig' %}

{% block title %}{{ 'compte.page.index.title'|trans }}{% endblock %}

{% block content %}
    
    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'compte.label.code'|trans }}</th>
                <th>{{ 'compte.label.libelle'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.code }}</td>
                <td><a href="{{ path('parametrage_comptes_edit', { 'code': compte.code }) }}">{{ compte.libelle }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
