<h2>{{ 'compte.menu.title'|trans }}</h2>
<ul>
	<li><a href="{{ path('parametrage_comptes') }}">{{ 'compte.page.index.title'|trans }}</a></li>
	<li><a href="{{ path('parametrage_comptes_new') }}">{{ 'compte.page.collection_creation.title'|trans }}</a></li>
</ul>