{% extends 'parametrage.html.twig' %}

{% form_theme form 'form/fields_table.html.twig' %}

{% block page_title %}{{ 'compte.page.collection_creation.title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_errors(form) }}
		<table>
			{% for compte in form.comptes %}
			<tr>
				{{ form_row(compte.code, {'label': 'compte.label.code'}) }}
				{{ form_row(compte.libelle, {'label': 'compte.label.libelle'}) }}
				{{ form_row(compte.mouvementable, {'label': 'compte.label.mouvementable'}) }}
			</tr>
			{% endfor %}
		</table>
		<input type="submit" value="{{ 'compte.form.submit.collection_creation'|trans }}"/>
	{{ form_end(form) }}

{% endblock %}
