{% extends 'base.html.twig' %}

{% block page_title -%}Ajout de comptes{% endblock %}
{% block content -%}

    {{ form_start(form) }}
		{{ form_errors(form) }}
		<table>
			<tr>
				<th>Numéro</th>
				<th>Libellé</th>
				<th></th>
			</tr>
		{% for compte in form.comptes %}
			<tr>
				<td>{{ form_widget(compte.numero, {'label': 'Numéro'}) }}</td>
				<td>{{ form_widget(compte.libelle, {'label': 'Libellé'}) }}</td>
				<td>
					{{ form_errors(compte.numero) }}
					{{ form_errors(compte.libelle) }}
				</td>
			</tr>
		{% endfor %}
		</table>
		<input type="submit" value="Ajouter les comptes" />
	{{ form_end(form) }}
	
{% endblock %}
