{% extends 'parametrage.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
	jQuery(document).ready(function() {
		$('table.comptes').formCollection();
	});
</script>
{% endblock %}

{% form_theme form 'form/fields_table.html.twig' %}

{% macro compte_prototype(compte) %}
	<tr>
		{{ form_row(compte.code, {'label': 'compte.label.code'}) }}
		{{ form_row(compte.libelle, {'label': 'compte.label.libelle'}) }}
		{{ form_row(compte.mouvementable, {'label': 'compte.label.mouvementable'}) }}
	</tr>
{% endmacro %}

{% block page_title %}{{ 'compte.page.collection_creation.title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_errors(form) }}
		
		<table class="comptes" data-prototype="{{ _self.compte_prototype(form.comptes.vars.prototype)|e }}">
			{% for compte in form.comptes %}
				{{ _self.compte_prototype(compte) }}
			{% endfor %}
		</table>
		
		<input type="submit" value="{{ 'compte.form.submit.collection_creation'|trans }}"/>
	{{ form_end(form) }}

{% endblock %}
