{% extends 'base.html.twig' %}

{% block page_title -%}Création d'un compte{% endblock %}
{% block content -%}

    {{ form_start(form) }}
		{{ form_errors(form) }}
		
		{{ form_row(form.numero, {'label': 'Numéro'}) }}
		{{ form_row(form.libelle, {'label': 'Libellé'}) }}
		
		<input type="submit" value="Créer le compte" />
	{{ form_end(form) }}
	
	
        <ul class="record_actions">
    <li>
        <a href="{{ path('comptes') }}">
            Retour à la liste des comptes
        </a>
    </li>
</ul>
{% endblock %}
