{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{{ "{% block page_title -%}" }}Liste des entités {{ entity }}{{ "{% endblock %}" }}
{% block body %}
{{ "{% block content -%}" }}

    {% if 'new' in actions %}
    <p><a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">Créer une nouvelle entité</a></p>
    {% endif %}


    <table class="records_list">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th>{{ field|capitalize }}</th>

            {%- endfor %}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'m/d/Y\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- include "crud/views/others/actions.html.twig.twig" %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

{{ "{% endblock %}" }}
{% endblock body %}
